/* GitHub stylesheet for MarkdownPad (http://markdownpad.com) */
/* Author: Nicolas Hery - http://nicolashery.com */
/* Version: b13fe65ca28d2e568c6ed5d7f06581183df8f2ff */
/* Source: https://github.com/nicolahery/markdownpad-github */

/* RESET
=============================================================================*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* BODY
=============================================================================*/

body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  max-width: 100%;
  margin: 0 auto;
}

body>*:first-child {
  margin-top: 0 !important;
}

body>*:last-child {
  margin-bottom: 0 !important;
}

/* BLOCKS
=============================================================================*/

p, blockquote, ul, ol, dl, table, pre {
  margin: 15px 0;
}

/* HEADERS
=============================================================================*/

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

h1 tt, h1 code, h2 tt, h2 code, h3 tt, h3 code, h4 tt, h4 code, h5 tt, h5 code, h6 tt, h6 code {
  font-size: inherit;
}

h1 {
  font-size: 28px;
  color: #000;
}

h2 {
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  color: #000;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  color: #777;
  font-size: 14px;
}

body>h2:first-child, body>h1:first-child, body>h1:first-child+h2, body>h3:first-child, body>h4:first-child, body>h5:first-child, body>h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
  margin-top: 10px;
}

/* LINKS
=============================================================================*/

a {
  color: #40b19b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* LISTS
=============================================================================*/

ul, ol {
  padding-left: 30px;
}

ul li > :first-child, 
ol li > :first-child, 
ul li ul:first-of-type, 
ol li ol:first-of-type, 
ul li ol:first-of-type, 
ol li ul:first-of-type {
  margin-top: 0px;
}

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

dl {
  padding: 0;
}

dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

dl dt:first-child {
  padding: 0;
}

dl dt>:first-child {
  margin-top: 0px;
}

dl dt>:last-child {
  margin-bottom: 0px;
}

dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

dl dd>:first-child {
  margin-top: 0px;
}

dl dd>:last-child {
  margin-bottom: 0px;
}

/* CODE
=============================================================================*/

pre, code, tt {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

code, tt {
  margin: 0 0px;
  padding: 0px 0px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

pre>code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

pre code, pre tt {
  background-color: transparent;
  border: none;
}

kbd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #DDDDDD;
    background-image: linear-gradient(#F1F1F1, #DDDDDD);
    background-repeat: repeat-x;
    border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 10px;
    padding: 1px 4px;
}

/* QUOTES
=============================================================================*/

blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}

blockquote>:first-child {
  margin-top: 0px;
}

blockquote>:last-child {
  margin-bottom: 0px;
}

/* HORIZONTAL RULES
=============================================================================*/

hr {
  clear: both;
  margin: 15px 0;
  height: 0px;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: 1px solid #e7e7e7;
  padding: 0;
}

/* TABLES
=============================================================================*/

table th {
  font-weight: bold;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 6px 13px;
}

table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

/* INDIVIDUAL CLASSES
=============================================================================*/

.search-docs {
	width: 70%;
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 8px !important;
	float: left;
}
.error404 {
	vertical-align: -2px;
}
.index-folders i.glyphicon-folder-open {
	margin-right: 5px;
	color: #40b19b;
}
.index-folders i.glyphicon-file {
	color: #edc549;
}
.index-folders ul {
	list-style: none;
	padding-left: 25px;
}
.read-menu {
	padding-left: 0;
	padding-right: 0;
	overflow-y: scroll;
	background-color: #f1f1f1;
}
.read-menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.read-content {
	overflow-y: scroll;
	position: relative;
}
.read-loader {
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -60px;
	padding: 2px 40px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: 0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.read-menu ul li a {
	display: block;
	padding: 5px 10px;
	border-bottom: 1px solid #e8e8e8;
	box-shadow: 0px 1px 0px 0 #fff;
}
.read-menu ul li a:hover {
	text-decoration: none;
	background: #fff;
}
.read-menu ul li:last-child a {
	border-bottom: 0px solid;
	box-shadow: none;
}
.read-menu h4 {
	padding: 0px 10px;
}
.read-menu h4 i {
	margin-right: 5px;
	color: #40b19b;
}
.login-screen {
	background-color: #f1f1f1;
	text-align: center;
}
.login-screen .panel {
	display: inline-block;
}
.navbar.navbar-editor {
	margin-bottom: 0;
	margin-top: 20px;
	padding: 5px;
	min-height: initial;
	border: 1px solid #ccc;
	border-bottom: 0px;
	box-shadow: inset 0px -1px 0px 0 #fff;
}
.navbar.navbar-editor .navbar-form {
	padding: 0;
	margin: 0;
}
.editor-saving, .editor-saving2, .editor-saving3, .editor-saving4, .editor-saving5, .editor-saving6 {
	display: none;
}
h4 a {
	color: #333;
}
.read-menu ul li a.selected {
	background: #fff;
}
.btn-bookmarked i {
	color: #d56f38;
}
#menu-html-download .label, #edit-md-download .label, #menu-pdf-download .label, #menu-md-download-folder .label, #menu-html-download-folder .label, #menu-pdf-download-folder .label {
	width: 42px;
	display: inline-block;
	vertical-align: middle;
}
.bookmarks-list {
	list-style: none;
}
.bookmarks-list li {
	float: left;
	margin-right: 20px;
}
h3.btn-bookmarked a {
	color: #333;
}
.doc-description {
	font-size: 16px;
}
.navbar-toolbox {
	float: right;
	width: auto;
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 0 !important;
	margin-left: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.found-results {
	list-style: none;
	padding-left: 0;
}
.found-results li {
	margin-bottom: 20px;
}
.found-results li a.found-file {
	font-size: 20px;
	color: #333;
	margin-right: 10px;
}
.found-results li .found-context {
	padding-left: 20px;
	margin-left: 5px;
	border-left: 2px solid #ccc;
}
.search-title i {
	color: #428bca;
}
.searching {
	text-align: center;
	font-size: 18px;
}
.footer {
	line-height: 47px;
	background-color: #f1f1f1;
	border-top: 1px solid #ccc;
}
.footer > div:nth-child(3) {
	text-align: right;
}
.installation-form {
	text-align: left;
}
.installation-form small {
	color: #aaa;
}
.alert-installer {
	display: none;
}
.navbar-editor .navbar-form > a.btn {
	margin: 0 3px;
}

/* BOOTSTRAP CLASSES
=============================================================================*/
.form-control, .input-sm, .input-lg, .btn, .btn-link, .btn-lg, .btn-sm, .btn-xs, .dropdown-menu, .btn-group-xs>.btn, .btn-group-sm>.btn, .btn-group-lg>.btn, .input-group-lg>.form-control,.input-group-lg>.input-group-addon,.input-group-lg>.input-group-btn>.btn, .input-group-sm>.form-control,.input-group-sm>.input-group-addon,.input-group-sm>.input-group-btn>.btn, .input-group-addon, .input-group-addon.input-sm, .input-group-addon.input-lg, .nav-tabs>li>a, .nav-tabs.nav-justified>li>a, .nav-pills>li, .nav-tabs-justified>li>a, .navbar-toggle, .navbar-toggle .icon-bar, .breadcrumb, .pagination, .pager li>a,.pager li>span, .label, .badge, .container .jumbotron, .thumbnail, .alert, .progress, .panel, .panel-group .panel, .well, .well-lg, .well-sm, .modal-content, .tooltip-inner, .popover, .popover-title, .carousel-indicators li, .img-thumbnail, code, pre, pre code, .navbar {
	border-radius: 0;
}
.btn {
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.navbar-default {
	background-color: #f1f1f1;
	border-color: #e8e8e8;
}
.navbar-default[role="navigation"] {
	margin-bottom: 0;
	border-bottom-color: #ccc;
}
.navbar-brand {
	padding: 10px 0 10px 15px;
}
.navbar-brand img {
	max-height: 30px;
}
.alert {
	padding: 5px;
}
.btn-primary {
	background-color: #40b19b;
	border-color: #2f9179;
}
.btn-primary:hover {
	background-color: #2f9179;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
	background-color: #88c9b9;
	border-color: #2f9179;
}
.dropdown-menu, .modal-content {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.175);
	box-shadow: 0 1px 2px rgba(0,0,0,0.175);
}
.navbar-default[role="navigation"] .dropdown-menu {
	top: 118%;
	border: 1px solid #ccc;
	border-top: 0;
	background-color: #f1f1f1;
}
.navbar-default[role="navigation"] .dropdown-menu>li>a:hover {
	background-color: #fff;
}
.form-control:focus {
  border-color: #a9a9a9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.25);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.25);
}
.panel-heading {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.panel-default {
	border-color: #ccc;
}
.panel-default>.panel-heading {
	background-color: #f1f1f1;
	border-color: #ccc;
}
.panel-footer {
	background-color: #f1f1f1;
	border-top: 1px solid #ccc;
}
.panel-primary {
	border-color: #2f9179;
}
.panel-primary>.panel-heading {
	background-color: #40b19b;
	border-color: #2f9179;
}